{% from 'navbar.html' import navbar %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <!-- Stylesheet Link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css')}}">
    <!-- Script Link -->
    <script src="{{ url_for('static', filename='script.js')}}" defer></script>
    <!-- Icons Link -->
    <script src="https://kit.fontawesome.com/6d232ec003.js" crossorigin="anonymous"></script>
</head>

<body>
    {{ navbar(session) }}

    <div class="form">
        <h1 class="form-title">Admin Login</h1>

        <form action="?" method="post">
            <div class="message">
                <div class={{className}}>
                    {{ msg }}
                </div>
            </div>
            <label 
                class="form-label"
                for="email">
                Admin Email Address: 
            </label>
            
            <input 
                class="form-input"
                type="email" 
                name="email" 
                id="email" 
                placeholder="abc@gmail.com"
                required
            >
            
            <label 
                class="form-label"
                for="password">
                Admin Password: 
            </label>
            
            <input 
                class="form-input"
                type="password" 
                name="password" 
                id="password" 
                placeholder="******"
                required
            >

            <button 
                class="form-button"
                name="admin-login"
                type="submit">
                Login as an Admin
            </button>
        </form>

        <p class="below-form">
            **\\ If you do not have admin rights, try contacting the administrator //**
        </p>
    </div>
</body>

</html>