{% from 'navbar.html' import navbar %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A Show</title>
    <!-- Stylesheet Link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css')}}">
    <!-- Script Link -->
    <script src="{{ url_for('static', filename='script.js')}}" defer></script>
    <!-- Icons Link -->
    <script src="https://kit.fontawesome.com/6d232ec003.js" crossorigin="anonymous"></script>
</head>

<body>
    {{ navbar(session) }}

    <div class="form">
        <h1 class="form-title">Create A Show</h1>

        <form action="{{ url_for('adminCreateShow') }}" method="post">
            <div class="message">
                <div class={{className}}>
                    {{ msg }}
                </div>
            </div>
            <label 
                class="form-label"
                for="show-name">
                Name of the Show: 
            </label>
            
            <input 
                class="form-input"
                type="text" 
                name="show-name" 
                id="show-name" 
                placeholder="Eg: Sholay"
                required
            >
            
            <label 
                class="form-label"
                for="show-time">
                Time of the Show: 
            </label>
            
            <input 
                class="form-input"
                type="text" 
                name="show-time" 
                id="show-time" 
                placeholder="Eg: 00:00 PM"
                required
            >

            <label 
                class="form-label"
                for="show-venue">
                Venue of the Show: 
            </label>
            
            <select 
                class="form-input"
                name="show-venue" 
                id="show-venue"
                required>
                {% for venue in venues %}
                    <option value="{{ venue }}">{{ venue }}</option>
                {% endfor %}
              </select>

            <label 
                class="form-label"
                for="show-ticket1">
                Platinum Ticket Price: 
            </label>
            
            <input 
                class="form-input"
                type="number" 
                name="show-ticket1" 
                id="show-ticket1" 
                placeholder="Eg: 349"
                required
            >

            <label 
                class="form-label"
                for="show-ticket2">
                Gold Ticket Price: 
            </label>
            
            <input 
                class="form-input"
                type="number" 
                name="show-ticket2" 
                id="show-ticket2" 
                placeholder="Eg: 199"
                required
            >

            <label 
                class="form-label"
                for="show-ticket3">
                Silver Ticket Price: 
            </label>
            
            <input 
                class="form-input"
                type="number" 
                name="show-ticket3" 
                id="show-ticket3" 
                placeholder="Eg: 149"
                required
            >

            <label 
                class="form-label"
                for="qty-ticket1">
                Platinum Ticket Quantity: 
            </label>
            
            <input 
                class="form-input"
                type="number" 
                name="qty-ticket1" 
                id="qty-ticket1" 
                placeholder="Eg: 20"
                required
            >

            <label 
                class="form-label"
                for="qty-ticket2">
                Gold Ticket Quantity: 
            </label>
            
            <input 
                class="form-input"
                type="number" 
                name="qty-ticket2" 
                id="qty-ticket2" 
                placeholder="Eg: 30"
                required
            >

            <label 
                class="form-label"
                for="qty-ticket3">
                Silver Ticket Quantity: 
            </label>
            
            <input 
                class="form-input"
                type="number" 
                name="qty-ticket3" 
                id="qty-ticket3" 
                placeholder="Eg: 50"
                required
            >

            <button 
                class="form-button"
                type="submit">
                Create Show
            </button>
        </form>
    </div>
</body>

</html>