{% from 'navbar.html' import navbar %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Maven</title>
    <!-- Stylesheet Link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='adminMovies.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css')}}">
    <!-- Script Link -->
    <script src="{{ url_for('static', filename='script.js')}}" defer></script>
    <!-- Icons Link -->
    <script src="https://kit.fontawesome.com/6d232ec003.js" crossorigin="anonymous"></script>
</head>

<body>
    {{ navbar(session) }}

    <div class="title">
        <h1>Admin Dashobard</h1>
    </div>

    <div class="all-movies">
        {% for i in range(0, len) %}
            <div class="venue">
                <div class="venue-name">Venue: {{ venues[i] }}</div>
                <div class="list-of-shows">
                    {% for show in shows %}
                        {% if show[12] == (i+1) %}
                            <div class="show">
                                <div class="show-name">
                                    {{ show[1] }}
                                </div>
                                <div class="show-time">
                                    {{ show[2] }}
                                </div>
                                <div class="show-buttons">
                                    <a href="{{ url_for('adminEditShow', venue_name = show[1]) }}" class="show-edit">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                    </a>
                                    <a href="{{ url_for('adminEditShow') }}" class="show-delete">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="create-show">
                    <a href="{{ url_for('adminCreateShow') }}"><i class="fa-solid fa-square-plus"></i> Create A Show</a>
                </div>
                <div class="venue-buttons">
                    <form action="{{ url_for('adminEditVenue') }}" method="post">
                        <input type="hidden" name="venue_name" id="venue_name" value="{{ venues[i] }}">
                        <button 
                            type="submit" 
                            class="blue-bg editVenue"
                            name="adminEditVenue">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </button>
                    </form>
                    <form action="{{ url_for('adminDeleteVenue') }}" method="post">
                        <input type="hidden" name="venue_name" value="{{ venues[i] }}">
                        <button 
                            type="submit" 
                            class="red-bg deleteVenue" 
                            name="adminDeleteVenue">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="stats-button">
        <a class="stats-link" href="./admin-stats.html">View Statistics</a>
    </div>

    <div class="plus-button">
        <a href="{{ url_for('adminCreateVenue') }}" class="fa-solid fa-square-plus"></a>
    </div>
</body>

</html>