{% from 'navbar.html' import navbar %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Maven</title>
    <!-- Stylesheet Link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css')}}">
    <!-- Script Link -->
    <script src="{{ url_for('static', filename='script.js')}}" defer></script>
    <!-- Icons Link -->
    <script src="https://kit.fontawesome.com/6d232ec003.js" crossorigin="anonymous"></script>
</head>

<body>
    {{ navbar() }}

    <div class="form">
        <!-- <div class="message login-bg-red login-bg-green"></div> -->
        
        <h1 class="form-title">Login</h1>

        <form action="{{ url_for('login') }}" method="post">
            <div class="message">
                <div class={{className}}>
                    {{ msg }}
                </div>
            </div>
            <label 
                class="form-label"
                for="email">
                Enter your Email Address: 
            </label>
            
            <input 
                class="form-input"
                type="email" 
                name="email" 
                id="email" 
                placeholder="abc@gmail.com"
                required
            >
            
            <label 
                class="form-label"
                for="password">
                Enter your Password: 
            </label>
            
            <input 
                class="form-input"
                type="password" 
                name="password" 
                id="password" 
                placeholder="******"
                required
            >

            <button 
                class="form-button"
                type="submit"
                name="login">
                Login
            </button>
        </form>

        <p class="below-form">
            Don't have an account? 
            &nbsp; 
            <a href="{{ url_for('register') }}">Register here</a>
        </p>
    </div>
</body>

</html>