{% from 'navbar.html' import navbar %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <!-- Stylesheet Link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='allMovies.css')}}">
    <!-- Script Link -->
    <script src="{{ url_for('static', filename='script.js')}}" defer></script>
    <!-- Icons Link -->
    <script src="https://kit.fontawesome.com/6d232ec003.js" crossorigin="anonymous"></script>
</head>

<body>
    {{ navbar(session) }}

    <div class="title">
        <h1>Book Tickets to your favourite shows</h1>
    </div>

    <div class="allMovies">
    {% for i in range(0, len) %}
        <div class="venue">
            <div class="venue-title">
                <h1>{{ venues[i] }}</h1>
            </div>
            <div class="all-shows">
                {% for show in shows %}
                    {% if show[12] == (i+1) %}
                        <div class="show">
                            <div class="show-details">
                                <div class="show-name">{{ show[1] }}</div>
                                <div class="show-time">{{ show[2] }}</div>
                            </div>
                            <div class="ticket-details">
                                <div class="platinum ticket">₹ {{ show[5] }}</div>
                                <div class="gold ticket">₹ {{ show[4] }}</div>
                                <div class="silver ticket">₹ {{ show[3] }}</div>
                            </div>
                            <a 
                                href="{{ url_for('bookShow', show_id = show[0], show_name = show[1]) }}" 
                                class="ticket-button">
                                Book Tickets
                            </a>
                            <div class="cancellation">
                                <div class="yellow">●</div>
                                &nbsp;
                                <div>Cancellation Not Available</div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="allMovies">
        
    </div>
</body>

</html>